@import "tailwindcss";

/* Tokens */
:root {
  --bg: 255 255 255;
  --bg-card: 249, 250, 251;
  --surface: 15 23 42;     /* usado con opacidad */
  --surface2: 15 23 42;    /* usado con opacidad */
  --text: 15 23 42;
  --muted: 71 85 105;
  --border: 226 232 240;
  --ring: 99 102 241;
}

.dark {
  --bg: 7 10 16;
  --bg-card: 15, 15, 15;
  --surface: 255 255 255;
  --surface2: 255 255 255;
  --text: 255 255 255;
  --muted: 170 170 170;
  --border: 0 90 90;
  --ring: 99 102 241;
}

/* Utilities sin @apply */
.bg-app { background-color: rgb(var(--bg)); }
.bg-card { background-color: rgb(var(--bg-card)); }
.text-app { color: rgb(var(--text)); }
.text-muted { color: rgb(var(--muted)); }
.border-app { border-color: rgb(var(--border)); }

.surface { background-color: rgba(var(--surface), 0.05); }
.surface-hover:hover { background-color: rgba(var(--surface), 0.08); }
.surface-2 { background-color: rgba(var(--surface2), 0.08); }

/* scrollbar hidden */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
